* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vh;
    margin: 0 auto;
}

.item {
    border: 1px dotted black;
    background-color: aquamarine;
    padding: 1rem;
    display: grid;
    place-items: center;
}

.nav {
    grid-area: nav;
}

.header {
    grid-area: header;
}

.logos {
    grid-area: logos;
}

.features {
    grid-area: features;
}

.testimonials {
    grid-area: testimonials;
}

.FAQ {
    grid-area: FAQ;
}

.subscription {
    grid-area: subscription;
}

.footer {
    grid-area: footer;
}



.grid {
    display: grid;
    grid-auto-rows: minmax(10vh, auto);
    
    grid-template-areas:
    "nav nav" 
    "header " 
    "image text"
    "image"
    "";


}



