* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* GENERAL VARIABLES AND COLORS*/
$light_theme: true;
$theme : light_theme !default;


$background-normal: #fff;
    $title_color:#000;
    $subtext_purple:rgba(86, 89, 115, 1);
    $silicon_purple: hsl(239, 84%, 67%);
    $background_alt_color: rgba(99, 102, 241, 0.1);
    $footer_color: rgba(147, 151, 173, 1);

@if not $light_theme {
    $background-normal:rgba(11, 15, 25, 1);
    $title_color:#fff;
    $subtext_purple:rgba(180, 183, 201, 1);
    $silicon_purple: hsl(239, 84%, 67%);
    $background_alt_color: rgba(99, 102, 241, 0.1);
    $footer_color: rgba(147, 151, 173, 1);
}



/*UTILITY*/

body {
    background-color: $background-normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $subtext_purple;
    font-size: 1em;
    transition: font-size 0.2s ease;
}

.links  a:hover {
    color: $silicon_purple;
    font-size: 1.2em;
}

/* HEADER */


header {
    position: fixed;
    width: 100%;
    background-color: $background-normal;
    padding: 0 rem;
}

.navbar {

    height: 60px;
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.nav-logo-container {
    display: flex;
    gap: .5rem;

    .icon {
        width: 100%;
    }

    .logo {
        align-content: center;
        justify-content: center;
        
        a{ 
            color: $title_color;
        }
    }
}

.silicon-icon {
    width: 100%;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: 600;

}

.right-navbar-container {
    display: flex;
    gap: 3rem;
}

/* The switch - the box around the slider. 84-145 from W3*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  scale: 0.75;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $background-normal;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $silicon_purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px $silicon_purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-toggle-container {
    display: flex;
    color: $subtext_purple;
    gap: 0.9rem;
    font-size: 0.9rem;
    align-items: center;

    button {
        padding: 0.5rem 1rem;
    }
}

.navbar .toggle_btn {
    color: $subtext_purple;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    display: flex;
    gap: 0.5em;
    color: #fff;
    background-color: $silicon_purple;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    transition: scale 0.1s ease;
    
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu  {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dropdown_menu.open {
    height: 285px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    :hover {
        color: $silicon_purple;
    }
}

#action_btn_dropdown{
    display: flex;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 90%;
    justify-content: center;
    
}

/*HERO SECTION*/

#hero {
    display: flex;
    flex-direction: column;
    padding: 5% 10%  0 10%;
    background-color: $background_alt_color;
    justify-content: space-between;
}

.hero-container-desktop {
    display: flex;
    justify-content: space-between;
}

.hero-title-tablet {
    font-size: 2.5em;
    color: $title_color;
    text-align: center;
    display: none;
}

.hero-left-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.hero-left-panel-top{
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;

    h1 {
        color: $title_color;
        font-size: 3.5em;
    }

    .hero-description {
        font-size: 1.1em;
        color: $subtext_purple;
    }

    .hero-description-mobile{
        display: none;
    }

    .hero-appstore-mobile {
        display: none;
    }

    .hero-appstore {
        display: flex;
        gap: 2%;
        /* width: 50%; */

        .appstore-icon {
            width: 170px;
            img{
                height: 100%;
            }
        }
    }
}

.discover-button {
    display: flex;
    color: $subtext_purple;
    justify-content: left;
    align-items: center;
    gap: 2%;
}

.hero-right-panel {
    width: 50%;

    /* overflow: hidden; */
    img {
        width: 100%;

    }

}

/* BRANDS SECTION */
#brands {
    display:flex;
    justify-content: center;
    gap: 2%;
    padding: 0 10%;
    margin: 3.5% 0;

}

/* APP FEATURES SECTION */

#app_features {
    padding: 0 10%;
    background-color: $background-normal;
    margin-bottom: 6%;
}

.features-container {
    display: flex;
    justify-content: space-between;
    

    .left-features-container {
        width: 25%;
    }

    .right-features-container {
        width: 60%;

        .features-title-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 20%;
            margin-bottom: 3%;

            .features-title {
                color: $title_color;
                font-size: 2rem;
            }

            .features-subtitle {
                color: $subtext_purple;
                font-size: 1.2rem;
            }
        }

        .features-row-container {
            display: flex;
            flex-direction: column;

            .features-row{
                display: flex;
                flex-direction: row;
                padding: 3% 0%;
                justify-content: space-between;
                
    
                .features-row-item {
                    // border: 1px solid black;
                    display: flex;
                    gap:5%;
                    width: 45%;
    
                    .features-row-item-img {
                        max-width: 35%;
                        max-height: 50%;
                        background-color: $background_alt_color;
                        border-radius: 10%;
                        padding: 2% 2% 0 2%;
                        align-content: center;
    
                        img{
                            height: 70%;
                        }
                    }
    
                    .features-row-item-text {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h3{
                            color: $title_color;
                            font-size: 1.4rem;
                        }
        
                        p{
                            font-size: 1.1rem;
                            color: $subtext_purple;
                        }
                    }
                }
            } 
        }
    }

}

/*HOW DOES IT WORK SECTION*/

#how-does-it-work {
    background-color: $background_alt_color;
}

.hdiw-container {
    margin: 4% 10% 7% 10%;
    display: flex;
    flex-direction: column;

    .hdiw-title{
        font-size: 2rem;
        color: $title_color;
        text-align: center;
        padding-bottom: 5%;
    }

    .hdiw-img-container{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .hdiw-img{
            display: flex;
            justify-content: center;
            width: 30%;


            img{
                height: 100%;
            }
        }
    }

    .hdiw-description{
        display: flex;
        flex-direction: column;
        text-align: center;

        .hdiw-description-title{
            padding: 5% 0 1% 0;
            color: $title_color;
            font-size: 1.4rem;
        }
        
        .hdiw-description-text{
            display: flex;
            margin: 0 auto;
            color: $subtext_purple;
            font-size: 1.1rem;
            width: 70%;
        }
    }
    
}


/* FOOTER SECTION */

.footer {
    margin-top: auto;
    text-align: center;
    padding: 3% 0;
    color: $footer_color;
}

/* RESPONSIVE DESIGN */

@media(max-width: 1150px){
    /*NAV BAR*/
    header{
        background-color: $background-normal;
    }

    .navbar .links,
    .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    /*HERO SECTION*/

    #hero {
        padding-top: 10%;
    }

    .hero-left-panel{
        max-width: 400px;
    }

    .hero-right-panel {
        max-width: 400px;
        img {
            width: 100%;
            margin-top: 7.5%;
        }
    }

    .hero-title {
        display: none;
    }

    .hero-title-tablet {
        display: block;
    }

    .hero-description {
        font-size: 1.3rem;
        color: $subtext_purple;
    }

    .hero-appstore-mobile{
        display: none;
    }

    .hero-appstore {
        width: 80%;
    }
    /* BRANDS SECTION */
    #brands {
        .brand-5 {
            display: none;
        }
        .brand-6 {
            display: none;
        }
    }

    /*APP FEATURES SECTION*/
    .features-container{
        justify-content: center;

        .left-features-container{
            display: none;
        }
    
        .right-features-container{
            width: 100%;

            .features-title-container{
                text-align: center;
            }
        }
    }

    /*HDIW SECTION*/

    .hdiw-img-container .hdiw-img img{
        width: 90%;
    }

}

@media(max-width: 768px){
    
    
    .color-theme {
        display: none;
    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .right-navbar-container {
        gap: 1.5rem;
    }

    /* HERO SECTION */
    
    #hero {
        background-color: $background-normal;
        
        h1 {
            margin-top: 10%;
        }
    }


    .hero-right-panel {
        display: none;
    }   

    .hero-title-tablet {
        font-size: 1.5em;
    }

    .hero-container-desktop{
        margin: 0 auto;
        display: flex;
        padding: 0;
        
    }

    .hero-left-panel{
        width: 100%;
        
        .hero-description {
            display: none;
        }
        
        .hero-description-mobile {
            display: block;
            text-align: center;
            font-size: 1em;
            color: $subtext_purple;
            margin: 10% 0;
        }

        .hero-appstore {
            display: none;
        }

        .discover-button{
            margin-top: 5%;
            justify-content: center;
        }

        .hero-appstore-mobile {    
            display: block;        
            width: 100%;
            
            .appstore-icon { 
                margin: 0 auto;
                width: 95%;
                margin-bottom: 3%;
                img{
                    width: 100%;
                }
            }
        }

        
    }

    /* BRAND SECTION */
    #brands{
        display: none;
    }

    /*APP FEATURES SECTION*/
    #app_features{
        margin-bottom: 10%;

        h1{
            font-size: 1.8rem;
        }
    }

    .features-container .right-features-container
    .features-row-container .features-row{
        flex-direction: column;
        align-items: center;
        // gap: 10%;

        .features-row-item{
            width: 100%;
            height: 30%;
            justify-content: space-between;
            margin-top: 8%;
            gap: 10%;

            .features-row-item-img{
                height: 60%;
                align-items: center;

                img{
                    height: 30%;
                }
            }

            .features-row-item-text{

                p{
                    font-size: 1rem;
                }
            }
        }
    }

    /*HDIW SECTION*/

    .hdiw-img-container {
        .hdiw-img{
            width: 50%;
            margin: 0 auto;
        }

        #phone1 {
            display: none;
        }
        
        #phone3 {
            display: none;
        }

        #phone2 {
            width: 100%;
        }
    }

    .hdiw-container{ 
    
        .hdiw-title{
            padding: 13% 0;
            font-size: 1.2rem;
        }

        .hdiw-description{
            .hdiw-description-title{
                padding-top: 8%;
                font-size: 1.1rem;
            }

            .hdiw-description-text{
                width: 90%;
            }
        }
    }

    /**/

}
