* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* GENERAL VARIABLES AND COLORS*/
$light_theme: true;
$theme : light_theme !default;


$background-normal: #fff;
    $title_color:#000;
    $subtext_purple:rgba(86, 89, 115, 1);
    $border_gray: rgba(226, 229, 241, 1);
    $silicon_purple: hsl(239, 84%, 67%);
    $message_green:rgba(34, 197, 94, 1);
    $background_alt_color: rgba(99, 102, 241, 0.1);
    $footer_color: rgba(147, 151, 173, 1);

@if not $light_theme {
    $background-normal:rgba(11, 15, 25, 1);
    $title_color:#fff;
    $subtext_purple:rgba(180, 183, 201, 1);
    $border_gray: rgba(226, 229, 241, 1);
    $silicon_purple: hsl(239, 84%, 67%);
    $message_green:rgba(34, 197, 94, 1);
    $background_alt_color: rgba(99, 102, 241, 0.1);
    $footer_color: rgba(147, 151, 173, 1);
}



/*UTILITY*/

body {
    background-color: $background-normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $subtext_purple;
    font-size: 1em;
    transition: font-size 0.2s ease;
}

.links  a:hover {
    color: $silicon_purple;
    font-size: 1.2em;
}

/* HEADER */


header {
    position: fixed;
    z-index: +1;
    width: 100%;
    background-color: $background-normal;
    padding: 0 rem;
}

.navbar {
    height: 60px;
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.nav-logo-container {
    display: flex;
    gap: .5rem;

    .icon {
        width: 100%;
    }

    .logo {
        align-content: center;
        justify-content: center;
        
        a{ 
            color: $title_color;
        }
    }
}

.silicon-icon {
    width: 100%;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: 600;

}

.right-navbar-container {
    display: flex;
    gap: 3rem;
}

/* The switch - the box around the slider. 84-145 from W3*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  scale: 0.75;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $background-normal;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $silicon_purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px $silicon_purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-toggle-container {
    display: flex;
    color: $subtext_purple;
    gap: 0.9rem;
    font-size: 0.9rem;
    align-items: center;

    button {
        padding: 0.5rem 1rem;
    }
}

.navbar .toggle_btn {
    color: $subtext_purple;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    display: flex;
    gap: 0.5em;
    color: #fff;
    background-color: $silicon_purple;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    transition: scale 0.1s ease;
    
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu  {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dropdown_menu.open {
    height: 285px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    :hover {
        color: $silicon_purple;
    }
}

#action_btn_dropdown{
    display: flex;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 90%;
    justify-content: center;
    
}

/*HERO SECTION*/

#hero {
    display: flex;
    flex-direction: column;
    padding: 5% 10%  0 10%;
    background-color: $background_alt_color;
    justify-content: space-between;
}

.hero-container-desktop {
    display: flex;
    justify-content: space-between;
}

.hero-title-tablet {
    font-size: 2.5em;
    color: $title_color;
    text-align: center;
    display: none;
}

.hero-left-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.hero-left-panel-top{
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;

    h1 {
        color: $title_color;
        font-size: 3.5em;
    }

    .hero-description {
        font-size: 1.1em;
        color: $subtext_purple;
    }

    .hero-description-mobile{
        display: none;
    }

    .hero-appstore-mobile {
        display: none;
    }

    .hero-appstore {
        display: flex;
        gap: 2%;
        /* width: 50%; */

        .appstore-icon {
            width: 170px;
            img{
                height: 100%;
            }
        }
    }
}

.discover-button {
    display: flex;
    color: $subtext_purple;
    justify-content: left;
    align-items: center;
    gap: 2%;
}

.hero-right-panel {
    width: 50%;

    /* overflow: hidden; */
    img {
        width: 100%;

    }

}

/* BRANDS SECTION */
#brands {
    display:flex;
    justify-content: center;
    gap: 2%;
    padding: 0 10%;
    margin: 3.5% 0;

}

/* APP FEATURES SECTION */

#app_features {
    padding: 0 10%;
    background-color: $background-normal;
    margin-bottom: 6%;
}

.features-container {
    display: flex;
    justify-content: space-between;
    

    .left-features-container {
        width: 25%;
    }

    .right-features-container {
        width: 60%;

        .features-title-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 20%;
            margin-bottom: 3%;

            .features-title {
                color: $title_color;
                font-size: 2rem;
            }

            .features-subtitle {
                color: $subtext_purple;
                font-size: 1.2rem;
            }
        }

        .features-row-container {
            display: flex;
            flex-direction: column;

            .features-row{
                display: flex;
                flex-direction: row;
                padding: 3% 0%;
                justify-content: space-between;
                
    
                .features-row-item {
                    // border: 1px solid black;
                    display: flex;
                    gap:5%;
                    width: 45%;
    
                    .features-row-item-img {
                        max-width: 35%;
                        max-height: 50%;
                        background-color: $background_alt_color;
                        border-radius: 10%;
                        padding: 2% 2% 0 2%;
                        align-content: center;
    
                        img{
                            height: 70%;
                        }
                    }
    
                    .features-row-item-text {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h3{
                            color: $title_color;
                            font-size: 1.4rem;
                        }
        
                        p{
                            font-size: 1.1rem;
                            color: $subtext_purple;
                        }
                    }
                }
            } 
        }
    }

}

/*HOW DOES IT WORK SECTION*/

#how-does-it-work {
    background-color: $background_alt_color;
}

.hdiw-container {
    margin: 4% 10% 5% 10%;
    display: flex;
    flex-direction: column;

    .hdiw-title{
        font-size: 2rem;
        color: $title_color;
        text-align: center;
        padding-bottom: 5%;
    }

    .hdiw-img-container{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .hdiw-img{
            display: flex;
            justify-content: center;
            width: 30%;


            img{
                height: 100%;
            }
        }
    }

    .hdiw-description{
        display: flex;
        flex-direction: column;
        text-align: center;

        .hdiw-description-title{
            padding: 5% 0 1% 0;
            color: $title_color;
            font-size: 1.4rem;
        }
        
        .hdiw-description-text{
            display: flex;
            margin: 0 auto;
            color: $subtext_purple;
            font-size: 1.1rem;
            width: 70%;
        }
    }
    
}

/*FUNCTIONS SECTION*/

#functions {
    margin: 5% 15%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    
}

.functions-row-container{
    display: flex;
    justify-content: space-between;
    

    .functions-row-textbox{
        width: 55%;
        display: flex;
        flex-direction: column;
        

        .functions-textbox-title{
            font-size: 1rem;
            color: $title_color;
            scale: 1.1;
            z-index: -1;
        }

        .functions-textbox-list{
            margin-bottom: 10%;
            li{
                font-size: 1.1em;
                align-items: center;
                color: $subtext_purple;
                list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%236467f2" d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
            }
            li::marker{
                color: $silicon_purple;
                line-height: 1.5;
                font-size: 1.8em;
            }
        }

        .functions-textbox-items{
            display: flex;
            flex-direction: column;
            gap: 5%;
            height: 35%;
            margin: 5% 0;

            .functions-row-icons{
                display: flex;
                justify-content: space-between;
                
                .functions-row-icon{
                    width: 45%;

                    img{
                        padding: 5%;
                        border-radius: 5px;
                        background-color: $background_alt_color;
                    }
                }
            }

            .functions-row-texts{
                height: 60%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10%;

                .functions-row-text{
                    width: 45%;
                    font-size: 1.1rem;
                    color: $subtext_purple;
                }
            }
        }

        .functions-textbox-btn {
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10%;
                width: 11vw;
                background-color: $silicon_purple;
                padding: 0.7rem 2rem;
                border-radius: 5px;
                color: #fff;
                border: 0;
                font-size: 1.1rem;
                cursor: pointer;
                transition: scale 0.1s ease;
                span{
                    text-wrap: nowrap;
                }    
            }
 
            button:hover{
                scale: 1.05;
            }

            button:active{
                scale: 0.95;
            }
            

        }

    }

    .functions-row-img{
        width: 49%;

        img{
            width: 90%;
        }
    }
}

/*REVIEWS SECTION*/

#reviews{
    display: flex;
    background-color: $background_alt_color;
    justify-content: space-between;

}

.reviews-container{
    margin: 5% 13%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    
    .reviews-title{
        font-size: 1.5em;
        color: $title_color;
        width: 28%;
        text-wrap: nowrap;

    }

    
    .reviews-testimonial{
        position: relative;
        bottom: 50px;
        scale: 1;
        width: 32%;
        display: flex;
        flex-direction: column;

        .testimonial-quotes{
            position: relative;
            left: 17px;
            top: 40px;
        }

        .testimonial-box{
            height: 36vh;
            background-color: $background-normal;
            border-radius: 5px;
            padding: 10% 5% 8% 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .testimonial-text{
                color: $subtext_purple;
                font-size: 1.1em;
            }

            .testimonial-user{
                position: relative;
                height: 20%;
                display: flex;
                gap: 5%;

                h4{
                    color: $title_color;
                }

                p{
                    font-size: 0.9em;
                    color: $footer_color;
                }       
            }
        }
    }
}

/*FAQ SECTION*/

#FAQ{
    color: $background-normal;
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.FAQ-tablet-title{
    display: none;
}

.FAQ-tablet-container{
    display: none;
}

.FAQ-left-container{
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 4%;

    h2{
        color: $title_color;
        font-size: 2.2em;
    }

    p{
        color: $subtext_purple;
        font-size: 1.2rem;
    }

    .left-container-boxes{
        display: flex;
        justify-content: space-between;

        .contact-box{
            display: flex;
            flex-direction: column;
            width: 48%;
            min-height: 150px;
            max-height: 180px;
            justify-content: space-between;
            padding: 6%;
            border: 1px solid $border_gray;
            border-radius: 5px;
            
            .contact-icon{
                height: 30%;

                img{
                    height: 100%;
                }
            }

            p{
                color: $subtext_purple;
                font-weight: 400;
                font-size: 1em;
            }

            a{
                display: flex;
                width: 60%;
                gap: 10%;

                #call{
                    color: $silicon_purple;
                    text-wrap: nowrap;
                    font-weight: 600;
                    font-size: 0.9em;
                }

                #message{
                    color: $message_green;
                    text-wrap: nowrap;
                    font-weight: 600;
                    font-size: 0.9em;
                }
            }
        }


    }
}

.FAQ-tablet-subtext{
    display: none;
}

.FAQ-right-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    scale: 1;

    .accordion-container{
        display: flex;
        flex-direction: column;
        

        .accordion-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background_alt_color;

            border-radius: 5px;
            color: $title_color;
            font-weight: 600;
            cursor: pointer;
            padding:5% 5% 5% 5%;
            width: 100%;
            max-height: 30%;
            border: none;
            text-align: left;
            font-size: 1em;
            transition: 0.4s;
    
            img{
                width: 10%; 
            }
          }
        .panel {
        padding: 0% 5% 0 5%;
        color: $subtext_purple;
        background-color: $background_alt_color;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        }
    }
}

.FAQ-mobile-button{
    display: none;
}

/* FOOTER SECTION */

.footer {
    margin-top: auto;
    text-align: center;
    padding: 3% 0;
    color: $footer_color;
}

/* RESPONSIVE DESIGN */

@media(max-width: 1150px){
    /*NAV BAR*/
    header{
        background-color: $background-normal;
    }

    .navbar .links,
    .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;

        #dropdown-reviews{
            display: none;
        }
    }

    /*HERO SECTION*/

    #hero {
        padding-top: 10%;
    }

    .hero-left-panel{
        max-width: 400px;
    }

    .hero-right-panel {
        max-width: 400px;
        img {
            width: 100%;
            margin-top: 7.5%;
        }
    }

    .hero-title {
        display: none;
    }

    .hero-title-tablet {
        display: block;
    }

    .hero-description {
        font-size: 1.3rem;
        color: $subtext_purple;
    }

    .hero-appstore-mobile{
        display: none;
    }

    .hero-appstore {
        width: 80%;
    }
    /* BRANDS SECTION */
    #brands {
        .brand-5 {
            display: none;
        }
        .brand-6 {
            display: none;
        }
    }

    /*APP FEATURES SECTION*/
    .features-container{
        justify-content: center;

        .left-features-container{
            display: none;
        }
    
        .right-features-container{
            width: 100%;

            .features-title-container{
                text-align: center;
            }
        }
    }

    /*HDIW SECTION*/

    .hdiw-img-container .hdiw-img img{
        width: 90%;
    }

    /*FUNCTIONS SECTION*/
    #functions{
        display: none;
    }

    /*REVIEWS SECTION*/

    #reviews{
        display: none;
    }

    /*FAQ*/
    #FAQ{
        flex-direction: column;
        align-items: center;
        margin: 5% 10%;
    }

    .FAQ-desktop-title{
        display: none;
    }

    .FAQ-desktop-subtext{
        display: none;
    }

    .FAQ-tablet-title{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
    
        h2{
    
            color: $title_color;
            text-align: center;
            font-size: 3em;
            margin-bottom: 8%;
        }
    }

    .FAQ-left-container{
        display: none;  
    }

    .FAQ-right-container{
        width: 100%;
        min-height: 70vh;
        justify-content: space-between;
        .accordion-container{
            .accordion-btn{
                padding: 1% 3%;
                max-height: 10vh;
                font-size: 1.4em;
            }
            .panel{
                font-size: 1.1rem;
            }
        }
    }

    .FAQ-tablet-subtext{
        display: block;
        text-align: center;
        color: $subtext_purple;
        font-size: 1.3rem;
        padding: 5% 0;
    }

    .FAQ-tablet-container{
        display: flex;
        width: 100%;
        justify-content: center;

        .left-container-boxes{
            width: 200%;
            display: flex;
            justify-content: space-between;
    
            .contact-box{
                
                display: flex;
                flex-direction: column;
                width: 48%;
                min-height: 180px;
                max-height: 180px;
                justify-content: space-between;
                padding: 4%;
                border: 1px solid $border_gray;
                border-radius: 5px;
                
                .contact-icon{
                    height: 30%;
    
                    img{
                        height: 100%;
                    }
                }
    
                p{
                    color: $subtext_purple;
                    font-weight: 400;
                    font-size: 1.3em;
                }
    
                a{
                    display: flex;
                    width: 60%;
                    gap: 10%;
    
                    #call{
                        color: $silicon_purple;
                        text-wrap: nowrap;
                        font-weight: 600;
                        font-size: 1.2em;
                    }
    
                    #message{
                        color: $message_green;
                        text-wrap: nowrap;
                        font-weight: 600;
                        font-size: 1.1em;
                    }
                }
            }
        }
    
    }   



}

@media(max-width: 768px){
    
    
    .color-theme {
        display: none;
    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .right-navbar-container {
        gap: 1.5rem;
    }

    /* HERO SECTION */
    
    #hero {
        background-color: $background-normal;
        margin-bottom: 15%;
        h1 {
            margin-top: 10%;
        }
    }


    .hero-right-panel {
        display: none;
    }   

    .hero-title-tablet {
        font-size: 1.5em;
    }

    .hero-container-desktop{
        margin: 0 auto;
        display: flex;
        padding: 0;
        
    }

    .hero-left-panel{
        width: 100%;
        
        .hero-description {
            display: none;
        }
        
        .hero-description-mobile {
            display: block;
            text-align: center;
            font-size: 1em;
            color: $subtext_purple;
            margin: 10% 0;
        }

        .hero-appstore {
            display: none;
        }

        .discover-button{
            margin-top: 5%;
            justify-content: center;
        }

        .hero-appstore-mobile {    
            display: block;        
            width: 100%;
            
            .appstore-icon { 
                margin: 0 auto;
                width: 95%;
                margin-bottom: 3%;
                img{
                    width: 100%;
                }
            }
        }
    }

    /* BRAND SECTION */
    #brands{
        display: none;
    }

    /*APP FEATURES SECTION*/
    #app_features{
        margin-bottom: 10%;

        h1{
            font-size: 1.8rem;
        }
    }

    .features-container .right-features-container
    .features-row-container .features-row{
        flex-direction: column;
        align-items: center;
        // gap: 10%;

        .features-row-item{
            width: 100%;
            height: 30%;
            justify-content: space-between;
            margin-top: 8%;
            gap: 10%;

            .features-row-item-img{
                height: 60%;
                align-items: center;

                img{
                    height: 30%;
                }
            }

            .features-row-item-text{

                p{
                    font-size: 1rem;
                }
            }
        }
    }

    /*HDIW SECTION*/

    .hdiw-img-container {
        .hdiw-img{
            width: 50%;
            margin: 0 auto;
        }

        #phone1 {
            display: none;
        }
        
        #phone3 {
            display: none;
        }

        #phone2 {
            width: 80%;
        }
    }

    .hdiw-container{ 
    
        .hdiw-title{
            padding: 13% 0;
            font-size: 1.3rem;
        }

        .hdiw-description{
            .hdiw-description-title{
                padding-top: 8%;
                font-size: 1.3rem;
            }

            .hdiw-description-text{
                width: 90%;
            }
        }
    }

    /*FUNCTIONS SECTION*/
    #functions{
        display: none;
    }

    /*REVIEWS SECTION*/

    #reviews{
        display: none;
    }

    /* FAQ */

    .FAQ-tablet-title{
        padding: 5% 0;
        h2{
            font-size: 1.6rem;
        }

    }

    .FAQ-tablet-container{
        display: none;
    }

    .FAQ-right-container{
        min-height: 60vh;
        
        .accordion-container{
            border: 1px solid $footer_color;
            border-radius: 5px;
            .accordion-btn{
                font-size: 1rem;
                
            }
            .panel{
                font-size: 0.8rem;
            }
        }
    }

    .FAQ-tablet-subtext{
        padding: 10% 0;
    }

    .FAQ-tablet-subtext{
        font-size: 1em;
    }

    .FAQ-mobile-button{
        display: block;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50vw;
            background-color: $silicon_purple;
            padding: 8%;
            border-radius: 5px;
            color: #fff;
            border: 0;
            font-size: 1.1em;
            cursor: pointer;
            transition: scale 0.1s ease;
            span{
                text-wrap: nowrap;
            }    
        }
        button:hover{
            scale: 1.05;
        }

        button:active{
            scale: 0.95;
        }
    }

}
